
*{
	padding: 0px;
	margin:0px;
	font-family: 'Noto Sans SC', sans-serif;
	color:#151515;
	box-sizing:border-box;
}
a{
	text-decoration: none;
	
}
ul{
	list-style: none;
}
body{
	
	overflow-x: hidden !important;
}
h1{
	font-size:2.8em;
}
h2{
	font-size: 2.5em;
}
 h3{
 	padding-bottom: 5px;
 }

p{
	line-height:1.5;
	letter-spacing:1.5px;
	color:#747474;
}

.front-line::before{
	content:'';
	display: inline-block;
	position: relative;
	bottom:15px;
	width:14%;
	height:3px;
	margin-right: 15px;
	background:#85CCB1;


}
html{
	scroll-behavior: smooth;
}


/*---------------HEADER-----------------*/

#header{
	width:85%;
	margin:0 auto;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow-x: hidden !important;
}

ul li{
	display: inline-block;
	padding:23px;
	text-align: center;
	height: 100%;
	transition: .2s;
}
ul li:hover{
	
	background:#85CCB1;
}
#burger-icon{
	display: none;
}



/*---------------SHOWCASE-----------------*/
#learnMore:hover{
	background: none;
	border:3px solid #85CCB1;
}
#show-case{
	width: 100%;
	height:100vh;
	background:url(dogwalkershowcase.jpeg);
	background-size: cover;
	background-position:top;
	background-repeat: no-repeat;
	color:black;
	position: relative;
	overflow-x: hidden !important;

}
#showcase-description{
	width: 45%;
	position: absolute;
	top: 50%;
	left:8%;
	transform: translate(-8%,-50%);
	opacity: 1;
	animation: animate .8s ease-in;
}
#showcase-description p{
	margin:25px 0px;
}
#showcase-description button{
	font-size: 1em;
	padding: 10px 20px;
	border-radius: 55px;
	background:#85CCB1;
	color: white;
	cursor: pointer;
}
@keyframes animate{
	0%{
		opacity: 0;
		transform: translate(-8%,-20%);
	}

	
	100%{
		opacity: 1;
		transform: translateX(-8%,-50%);
	}

}

/*------------- ABOUT ME  -------------*/
#aboutme-wrap{
	background: #F6F9F9;
}
#aboutme-container{
	display: flex;
	justify-content: space-between;
	width: 85%;
	margin:0 auto;
	padding:100px 0;


}
#aboutme-description{
	width: 45%;
	transform: translateX(80%);
	transition: .7s ease-in;
	 opacity: 0;

}
#aboutme-description .front-line{
	margin-bottom: 25px;
}
#aboutme-picture{
	height:450px;
	width: 40%;
	background:url(dogwaking-aboutmepic.jpeg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	
	 box-shadow: 15px 15px #CFF1EA;
	 transform: translateX(-80%) scale(0.95);
	transition: .7s ease-in;
	 opacity: 0;
	 

}



/*------------------SERVICES AND FEES ------------*/

#services-wrap{
	
	width: 85%;
	margin:0 auto;
	padding:100px 0;
	text-align: center;
}
#services-container{
	
	width: 100%;
	margin-top:70px;
	display: flex;
	justify-content: space-between;
}
.services{
	width:32.3%;
	
	line-height: 1.5;
	padding: 50px 45px;
	box-shadow: 0 0 10px #CCC;
	opacity: 0;
	transition: 2s;

}
.services:hover{
	transition:.5s;
	transform: scale(1.1,1.1); 
	background: white;
	
}
.fas{
	color:#85CCB1;
	font-size: 3em;
}
.price{
	margin-top: 15px;
	color:#85CCB1;

}

/*--------- clients testimonial ------------*/
#client-containter{
	padding: 100px 0 120px 0;
	background:#F6F9F9;
	
	
}
.client-wrap{
	width:85%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}


#quoteandtesti{
	width: 55%;
	display: flex;
}
#testi-wrap{
	width:100%;
	padding-left: 30px;
	padding-right: 40px;
}

#client-testimonialWrap{
	 position: relative;
	width:100%;
	
	
}


.card{
	width:100%;
	position: absolute;
	background: #F6F9F9;
	
}



#testimo-pic{
	width:40%;
}
#testimo-pic h2{
	margin-bottom: 25px;
}
#button{
	height:50px;
	top:50%;
	position: relative;
}


.fa-arrow-down, .fa-arrow-up{
	font-size:1.5em;
	color: #B1B1B1;
	font-weight: lighter;
	cursor: pointer;
	margin-bottom:10px;

}
.fa-arrow-up:hover, 
.fa-arrow-down:hover {
	color:#404040;
}

.fa-quote-left{
	font-size:4em;
}
/*---------------  CONTACT ME -----------------*/

#contact-wrap{
	display: flex;
}
#contact-form{
	width:100%;
	margin:0 auto;
	text-align: center;
	padding-top: 10px;
	
}

input{
	width:60%;
	padding: 5px 0;
	padding-left:10px;
	font-size:.8em;
	margin:7px 0;
}
textarea{
	font-size: .8em;
	width:60%;
	margin:10px 0;
	padding-left: 10px;
}
#info{
	margin:10px 0;
}
#sub{
	width:60%;
	font-size:1em;
	color: white;
	background:#85CCB1;
	cursor: pointer;
	padding:5px 0;
}
#info h2{
	margin-bottom:20px;
}
.fa-mobile-alt, .fa-envelope{
	font-size: 1.2em;
}




/*---------------- FOOTER -------------------- */

 #footer{

 	text-align: center;
 	color:white;
 	padding:25px 0;
 	background:#85CCB1;

 }


 /*--------- MOBLE---------*/

 @media(max-width:1025px){
 	h1{
	font-size:2.5em;
	}
	#showcase-description{
	width: 50%;
	}
	h2{
	font-size: 2.2em;
	}
	#aboutme-description{
	width:50%;
	}
	.services{
	padding: 40px;
	width:32%;
	

}

 }

@media(max-width: 980px){
	body{
		overflow-x: hidden !important;

		
	}

	
	#burger-icon{
		display: block;
		cursor: pointer;
	}
	#header{
		padding:20px 0;
	}
	ul li{
		padding:none;
	}
	ul li:hover{
		background: none;

	}

	.navigation{
		display: flex;
		right: 0px;
		flex-direction: column;
		position: absolute;
		z-index: 1;
		top: 12%;
		width:25%;
		height:90vh;
		padding-left:30px;
		padding-right:30px;
		background: white;
		opacity: .9;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	

		
		
	}
	.navigation li {
		border-bottom: 1px solid #DDDDDD;
		
		padding-bottom:35px;
		padding-top:35px;
	}

	#aboutme-container, #services-wrap, .client-wrap{
	
	width:90%;

	}
	#map iframe{
		width: 490px;
		height: 490px;
	}
	#button{
		margin-top: 20px;
	}



}

.nav-active{

transform: translateX(0%);
transition: transform .5s ease-in;

	
}



@media(max-width:850px){
	#showcase-description{
	width: 60%;
	}
	h1{
	font-size:2.2em;
	}
	
	h2{
	font-size: 2em;
	}
	#aboutme-container, #contact-wrap{
		flex-direction: column-reverse;
	}
	#aboutme-picture, #aboutme-description{
		width: 100%;
	}
	#aboutme-picture{
		margin-top: 20px;
	}
	#services-container{
		flex-direction: column;
		
	}
	.services{
		width: 100%;
		padding: 60px 30px;
		margin-bottom: 30px;
	}
	.client-wrap{
		flex-direction: column;
	}
	#testimo-pic, #quoteandtesti{
		width: 100%;
	}
	#quoteandtesti{
		padding-top:30px;
	}

	
	#testi-wrap{
		width: 100%;
		padding-left: 30px;
		padding-right: 30px;
	}
	#button{
		margin-top:50px;
	}
	#map iframe{
		width: 100%;
		margin-top: 50px;
	}
	#contact-form{
		padding-top:30px;
		width:75%;
	}
	input, textarea, #sub{
		width:100%;
	}
	.client-wrap{
		margin-bottom: 60px;
		margin-top: 20px;
	}	

}
@media(max-width: 450px){

	.client-wrap{
		margin-bottom: 170px;
		
	}
	#button{
		top: 90px;
	}
	.fa-quote-left{
		font-size: 2.7em;
	}
	.navigation{
		width:50%;
	}

}
@media(max-width: 375px){

	.client-wrap{
		margin-bottom: 250px;
		
	}
	#button{
		top: 120px;
	}
	

}
@media(max-width: 320px){
	.client-wrap{
		margin-bottom: 330px;
		
	}
	#button{
		top: 160px;
	}
	#showcase-description{
	width: 80%;
	left: 13%;
	
	}

}


























